<div class="c">


  <div class="a">
      <div class="comment_header">
          COMMENTS (<%= @comments.count %>)

        </div>
        <div class="add_comment">
            <a href="#" class="invite_more">+Add Comment<a>
          </div>

  </div>
<div class="c1">
    <% @comments.each do |comment| %>
    <div class="com_body">
      <div class="comment" id="destroy_comment_<%=comment.id%>">
      <div class="right_floated ">
      </div>

      <div class="c_body">
        <%= raw comment.body %>
      </div>
      <div class="c_create">
        <div class="delete">
        <% if comment.user_id == current_user.id %>
          <%= link_to ('<div class="remove">| Delete</div>').html_safe, [comment.article, comment],
                   method: :delete,:remote => true,
                   data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <div class ="time_ago">
        <a class ="navbar-link2"><%= time_ago_in_words(comment.created_at) %> ago by</a>
        <a class ="ar"><%= comment.user.username %></a>
</div>
      </div>
      <div class="actions1" >
        <div id="comment_<%=comment.id%>">
          <div class="v_up_count">
             <%= comment.evaluations.where(value: '1').count %>
          </div>
          <%if  comment.evaluation_value(current_user, comment) == "upvote" %>
           <%= link_to ('<div id="aup_ico"></div>').html_safe, vote_comment_path(comment, type: "up"), method: "post"  , :remote => true%>
          <% else %>
           <%= link_to ('<div id="up_ico"></div>').html_safe, vote_comment_path(comment, type: "up"), method: "post"  , :remote => true%>
          <% end %>
          <div class="v_d_count">
             <%= comment.evaluations.where(value: '-1').count %>
          </div>
          <%if comment.evaluation_value(current_user, comment) == "downvote" %>
             <%= link_to ('<div id="adown_ico"></div>').html_safe, vote_comment_path(comment, type: "down"), method: "post"  , :remote => true%>
          <% else %>
           <%= link_to ('<div id="down_ico"></div>').html_safe, vote_comment_path(comment, type: "down"), method: "post"  , :remote => true%>
          <% end %>
          </div>
        </div>
      </div>
      </div>



    <% end %>
  </div>
</div>



      <%= will_paginate @comments %>
