<!--<div class="ui comments">
  <div class="comment">
    <% @article.comments.each do |comment| %>
    <div class="ui avatar image">
        <img data-name = "<%= comment.commenter %>" class = "initialjs-avatar"/>
    </div>
    <div class="content">
      <a class="author"><%= comment.commenter %></a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        <%= raw comment.body %>
      </div>
      <div class="actions">
        <a class="reply"></a>
      </div>
    </div>
  </div>


















<div id ="cvotes">
  <%= pluralize comment.reputation_for(:votes).to_i, "vote" %>
</div>
<div class="haiku">

  <em>
     |
    |<i class="long arrow up icon"></i> <%= link_to "up", vote_article_comment_path(@article,comment, type: "up"), method: "post", :remote => true %>
    | <i class="long arrow down icon"></i><%= link_to "down", vote_article_comment_path(@article,comment, type: "down"), method: "post", :remote => true %>
  </em>
</div>




<p>
  <% if comment.commenter == current_user.username %>
  <%= link_to 'Destroy Comment',  [@article,comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               <% end %>
</p>
<div class="actions">
  <a class="reply"></a>
</div>
<% end %>

-->




























































  <h3 class="ui dividing header">Comments</h3>
<% @article.comments.each do |comment| %>
  <div class="comment" id="destroy_comment_<%=comment.id%>">
    <a class="ui circular avatar image">
      <img data-name="<%=comment.commenter%>" class="initialjs-avatar"/>
    </a>


    <div class="content">
      <a class="author"><%=comment.commenter%></a>
      <div class="metadata">
        <span class="date"><%= time_ago_in_words(comment.created_at)  %> ago</span>
      </div>

      <div class="right_floated ">
      <% if comment.user_id == current_user.id || @article.user_id == current_user.id %>
        <%= link_to ('<i class="red remove icon"></i>').html_safe, [comment.article, comment],
                 method: :delete,:remote => true,
                 data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div>

      <div class="text comment">
        <div class="ui fluid image">
          <%= raw comment.body %>
        </div>
      </div>
      <div class="actions">
        Tags :
        <%  comment.tag_list.each do |t| %>
        <%=link_to t , tag_path(t) ,class: 'ui blue  label' %>
        <%end%>
      </div>
      <div class="actions" >
        <div id="comment_<%=comment.id%>">
          <%= pluralize comment.reputation_for(:votes).to_i, "vote" %>
      </div>
        <% if current_user && !current_user.voted_for?(comment) %>
         <%= link_to ('<i class=" black thumbs outline up icon"></i>').html_safe, vote_article_comment_path(@article,comment, type: "up"), method: "post", :remote => true %>
         <%= link_to ('<i class=" black thumbs outline down icon"></i>').html_safe, vote_article_comment_path(@article,comment, type: "down"), method: "post", :remote => true %>
       <% end %>
      </div>
      <div>

      </div>
   </div>
   <h3 class="ui dividing header"></h3>
</div>
<% end %>





<script type="text/javascript">
$(document).ready(function(){
  $('.initialjs-avatar').initial();
})
</script>
