<div class="ui reply form art" id="cform">
<h4>Add a comment:</h4>

<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
  <div class="ui form">
  <div class="field">

</p>
<p>
<%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <ul id = "comment-tags"></ul></p>
<p>
  <%= f.label :body %><br>
  <%= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'english',:uiColor => '#FFFFFF', :toolbar => 'mini' } %>
</p>
<p>
  <div class="actions">
    <button class="ui button medium fluid blue" type="submit">Create</button>
  </div>
</p>

</div>
</div>
</div>
<% end %>
</div>

<!--
<div class="ui reply form art" id="cform">
  <h3 class="ui dividing header"> </h3>
  <%= form_for([@article, @article.comments.build],:remote => true, :html => { :id => 'new_comment' }) do |f| %>
    <div class="field">
      <%= f.cktext_area :body%>
    </div>
    <div class="field">
      <label>tags</label>
      <ul id="comment-tags"></ul>
    </div>
      <%= f.submit "Comment", :disable_with => 'Commenting....' , class:"ui secondary button" %>

<% end %>
</div>-->
