<div class="ui reply form art" id="cform">

<%= form_for([@article, @article.comments.build],:remote => true, :html => { :id => 'new_comment' }) do |f| %>
<p>
  <div class="ui form">
  <div class="field">

</p>
<p>
<%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <ul id = "comment-tags"></ul></p>
<p>
  <%= f.label :body %><br>
  <%= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'english',:uiColor => '#FFFFFF', :toolbar => 'mini' } %>
</p>
<p>
  <div class="actions">
    <%= f.submit "Comment" , class:"ui button" %>
  </div>
</p>
<% end %>

</div>
</div>
<button class="ui blue basic button" id="cancel_button">Cancel</button>
</div>
