<div class="item">

    <div class="a_content">
      <a class="ui header"  ><%= link_to truncate(article.title, length: 50) , article_path(article), :class => 'article_name' %></a>
      <div class="meta">
        <a><%= time_ago_in_words(article.created_at) %> ago</a>
        <a>Tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></a>
      </div>
      <div class="description">

      </div>
      <div class="extra">

         <%#= link_to article.user.username, article.user %><%= article.user.username %>
      </div>
    </div>
    <div class="ui vertical divider">
 </div>
    <div class="ui tiny image">
      <div class="ui tiny statistics">
        <div class="green statistic">
          <div class="fav_ico">
            <%= image_tag("Sprite_20px.png", :id => "fav_ico") %><%= article.fav_users.count %>
          </div>
          <div class="value">
            <%#= pluralize article.reputation_for(:votes).to_i,"" %>
          </div>
          <div class="label">
            Votes
          </div>
        </div>
      </div>
    </div>
    <div class="ui tiny image">
      <div class="ui tiny statistics">
        <div class="blue statistic">
          <div class="comment_ico">
            <%= image_tag("Sprite_20px.png", :id => "comment_ico") %>
          </div>
          <div class="value">
            <%= article.comments.count %>
          </div>
          <div class="label">
            Comments
          </div>
        </div>
      </div>
    </div>
</div>

<div class = "padding"></div>







<script type="text/javascript">
$(document).ready(function(){
 $('.initialjs-avatar').initial();
})
</script>
