<div class="item">

    <div class="a_content">
      <div class="index_header"  ><%= link_to truncate(article.title, length: 50) , article_path(article), :class => 'article_name' %></div>
      <div class="tag_content">
        <div class="extra">
          <a class ="navbar-link2"><%= time_ago_in_words(article.created_at) %> ago by</a>
          <a class ="ar"><%= article.user.username %></a>
        </div>
        <div class = "tags">
            <div class="t_ico">
            <div id="tag_ico">
            </div>
          </div>
         <%= raw article.tag_list[0,8].map { |t| link_to truncate(t, length: 10), tag_path(t) }.join(' ') %>
         <%#= link_to article.user.username, article.user %>

       </div>
     </div>
    </div>
    <div class="ui tiny image">
      <div class="index_fav">
          <div class="fav">
            <%if current_user.fav_articles.include? article %>
            <div id="yfav_ico">
            </div>
            <%else%>
            <div id="fav_ico">
            </div>
            <%end%>
            <div class="fav_value">
                <%= article.fav_users.count %>
            </div>
          </div>
        </div>
    </div>
    <div class="ui tiny image">

        <div class="index_comment">
            <div class="com">
            <div id="comment_ico">
              <% link_to(article) %>
            </div>
            <div class="c_value">
                <%= article.comments.count %>
            </div>
          </div>
        </div>

    </div>
</div>

<div class = "padding"></div>







<script type="text/javascript">
$(document).ready(function(){
 $('.initialjs-avatar').initial();
})

</script>
