



   <div id="route_info">
     <div class="route_home">
       <%= link_to 'Home >', root_url%>
     </div>
     <div class="route_title">
       New Post
     </div>
   </div>

   <div id="create_post">
       <div class="new_post_padding">
         <div class="post_title">
             Post Title
         </div>
         <%= form_for :article, url: articles_path do |f| %>
           <%= f.hidden_field :parent_id, :value => 0 %>
                   <div class="ui form field">
                       <%= f.text_field :title,  :placeholder => 'Title' %>
                   </div>
                   <div class="post_title" id="head_pad">
                       Content
                   </div>
                   <div class="field">
                       <%= f.cktext_area :text, :class => 'someclass', :ckeditor => {:language => 'english',:uiColor => '#FFFFFF', :toolbar => 'mini' } %>
                   </div>
                   <div class="post_title">
                       Tags
                   </div>
                   <div class="field" id="remove_pad">
                     <ul id="article-tags"></ul>
                   </div>
                   <div class="post_title">
                       Type
                   </div>
                   <div class="field">
                       <%= f.radio_button 'visibility', 'public', :checked => true %>
                       <%= f.label :public_name, 'Public', :id => "public_name"  %>
                       <%= f.radio_button 'visibility', 'private' %>
                       <%= f.label :private_name, 'Private', :id => "private_name"  %>
                   </div>
                 
                 <button class="ui button" type="submit" class="navbar-link">Submit</button>
         <% end %>
         <%= button_to "Cancel", root_url , method:"get" , class: "ui violet basic button" ,id:"cancel_button"  %>
       </div>
   </div>
