<div id="pop_body" style="display:none; width: 650px; height: 400px; overflow: auto">
<div id="invite_heading">
    Invite People
</div>
<div id ="invite_search">
  <div class="ui input">
    <%= autocomplete_field_tag :email, params[:email], autocomplete_user_email_users_path, :class=>"some" , :update_elements => {}, :placeholder =>"Type user's name" %>
 </div>
  <div style="">
  </div>
    <%= form_tag url_for(invite_articles_path), :remote => true do %>
    <%= hidden_field_tag :user_id %>
    <%= hidden_field_tag :article_id, 1 %>
    <%= hidden_field_tag :status, 'false' %>
    <%= submit_tag "Invite" %>
    <% end %>
    <div id="shared_with"> Shared with :</div>
    <div id ="invited"> </div>
</div>
</div>
