
<!--<form action="<%= articles_path %>" data-remote="true" method="get" >
<input type="text" name="tag" id="tag" class="ui-autocomplete-input">
<%= submit_tag "Search", :name => nil%>
</form>
<h1 class="ui center aligned header">Posts</h1>-->
<div class="ui container">

 <div class="ui relaxed divided items" id ="search-posts">


      <div id="post_lists">
      <ul>
        <li class="active"><%= link_to"All posts" , articles_path(:type => 'public') %></li>
        <li><%= link_to"My posts" , articles_path(:type => 'my') %></li>
        <li><%= link_to"Private" , articles_path(:type => 'private') %></li>
        <li><%= link_to"Favorites" , articles_path(:type =>'favorite') %></li>
        <li><%= link_to"Top" , articles_path(:type => 'top') %></li>
      </ul>
    </div>

   <%= render @articles %>
   <div class ="page">
     <div class="digg_pagination">
         <%= will_paginate @invites, :container => false %>
     </div>
   </div>



 </div>
</div>

<script type="text/javascript">
   $(document).ready(function(){
     $('input[name=tag]').keyup( function () {
       $.ajax({
               url: "/articles",
               dataType : "script",
               data: { "tag":this.value  },
               xhrFields: {
     withCredentials: true
  }
             })
         });
   })



   $(document).ready(function(){
       $(function() {
            var p_url = '/'+ window.location.href.substr(window.location.href.lastIndexOf("/")+1);
            $("ul a").each(function(){
                 if($(this).attr("href") == p_url  )
                 {
                   $(this).parent().parent().children().removeClass('active')
                   $(this).parent().addClass("active");
                 }
            })
     });
     })
   </script>
