
<!--<form action="<%= articles_path %>" data-remote="true" method="get" >
<input type="text" name="tag" id="tag" class="ui-autocomplete-input">
<%= submit_tag "Search", :name => nil%>
</form>
<h1 class="ui center aligned header">Posts</h1>-->
<div class="ui container">

 <div class="ui relaxed divided items" id ="search-posts">

   <div class ="headings">
     <div class="ui horizontal list">
        <a class="item"><%= link_to "Favorites", favorite_articles_path, :class => 'navbar-link1'  %></a>
        <a class="item"><%= link_to "Private", articles_path(type: 'private'), :class => 'navbar-link1'  %></a>
        <a class="item"><%= link_to "Public", articles_path(type: 'public'), :class => 'navbar-link1'  %></a>
        <a class="item"><%= link_to "My Posts", articles_path(type: 'my'), :class => 'navbar-link1'  %></a>
        <a class="item"><%= link_to "Top", articles_path(type: 'top'), :class => 'navbar-link1'  %></a>
      </div>

 </div>
   <%= render @articles %>



 </div>
</div>
<%= will_paginate @articles %>
<script type="text/javascript">
   $(document).ready(function(){
     $('input[name=tag]').keyup( function () {
       $.ajax({
               url: "/articles",
               dataType : "script",
               data: { "tag":this.value  },
               xhrFields: {
     withCredentials: true
  }
             })
         });
   })

   $(document).ready(function() {
       $(".navbar-link1").on("click", function() {
           $(".navbar-link1").removeClass("active");
           $(this).addClass("active");
       });
   });
   </script>
