<head>


   <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.2.min.css" />
</head>





<div class="ui container">
  <div class="segments">
<div class="ui relaxed divided items" id ="search-posts">
  <div class="titles">
    <div class="route_title">
       <%= link_to 'Home >', articles_path, :class => 'navbar-link1' %>
     </div>
     <% unless @article.parent_id == 0 %>
           <div class="route_title">
             <%= link_to  truncate(@article.parent_article.title , :length => 50) , article_path(@article.parent_article)%> >
           </div>
        <% end %>
     <div class ="articlename">
       <%= truncate(@article.title, length: 50) %>
     </div>
   </div>
   <% flash.each do |key, value| %>
           <div class="alert alert-<%= key %>"><%= value %></div>
         <% end %>
  <div class="ui left floated segment">
    <div class="segment1_content">
    <div class="segment_content">
      <div class = "ui header">
        <%= truncate(@article.title, length: 50) %>
      </div>
      <div id="extra">
        <a class ="navbar-link2"><%= time_ago_in_words(@article.created_at) %> ago by</a>
        <a class ="show_ar"><%= @article.user.username %></a>
        <% if @article.user_id == current_user.id %>
        (You)
        <% end %>
      </div>
      <div class="comment_fav_edit">
        <div class="show_fav">
          <div id="fav1">

              <%= render 'favorite' %>

          </div>
        </div>
        <div class="show_comment">
            <div class="com">
            <div id="comment_ico">
            </div>
            <div class="c_value">
                <%= @article.comments.count %>
            </div>
          </div>
        </div>
        <div class = "show_edit">
          <% if @article.user_id == current_user.id %>
          <div class = "item">
            <div id="dropdown">
            <div class="ui simple dropdown item" id="user_click">
              <div id="edit_ico">

              </div>
                <div class="menu" id="dropdown_user">
                  <div class="pointer"></div>
                  <div class="item"><%= link_to 'Edit Post', edit_article_path(@article), :class => 'navbar-link3'  %></div>

                  <div id="delete_p"><div class="item"><a href="#">Delete</a></div>
                    <div id="delete_post" style="display:none; width: 400px; height: 150px; overflow: auto; font-size: 16px"> Are you Sure you want to delete this post?
                  <div class="item"><%= link_to ('<div class="actions"><button class="ui button">Delete</button></div>').html_safe, article_path(@article),
                 method: :delete,
                 :class => 'navbar-link3' %>
                  </div>
                </div>
                </div>

                </div>
              </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="article_text">
        <div class="article_content">
          <%= raw(@article.text) %>
        </div>

      </div>
  </div>
</div>
  <div class="comment_segment" id="all_comments">
      <div class ="comment_body">


        <div class="render_c">
        <%=render "comments/comment" %>
        <%= render 'comments/form' %>
      </div>


      </div>


      </div>






  </div>
  <div class="ui right floated segment">
    <div id="side_container">
      <% unless @article.parent_id == 0 %>
  <div class="tag_container">
    <div class="tag_head">
       PARENT TOPIC
    </div>
    <div class="tag_list">
          <div class="parent_post">
            <%= link_to  truncate(@article.parent_article.title , :length => 100) , article_path(@article.parent_article)%>
          </div>
    </div>
  </div>
<% end %>
    <div class="tag_container">
      <div class="tag_head">
     TAGS
  </div>
  <div class="tag_list">
    <%  @article.tag_list.each do |t| %>
       <%=link_to t , tag_path(t) ,class: 'tag' %>
       <%end%>
  </div>
</div>


<div class="subpost_container">
  <div class="subpost_head">
     SUBPOSTS (<%=@sub_articles.count%>)
  </div>
  <div class="subpost_list">
    <%  @sub_articles.each do |t| %>
      <div class="subpost">
        <%= %>
        <%=link_to t.title , article_path(t) %>
     </div>
       <%end%>
  </div>
  <div class="new_subpost">
      <%= link_to '+ Create Subposts' , subpostnew_article_path(:parent_type => @article.id) %>
  </div>
</div>


<% if @article.visibility == "private" &&current_user.id == @article.user_id %>
<div class="share_container">
  <div class="share_head">
     SHARED WITH (<%=@article.invites.count%>)
  </div>
  <div class="user_list">
    <%  @article.invites.each do |t| %>
      <div class="user">
        <%=t.user.email %>
     </div>
       <%end%>
  </div>

  <div class="invite" id="pop">
      <a href="#" class="invite_more">+ Invite More People<a>
        <div id="pop_body" style="display:none; width: 650px; height: 400px; overflow: auto">
        <div id="invite_heading">
            Invite People
        </div>
        <div id ="invite_search">
          <div style="">
          </div>
            <%= form_tag url_for(invite_articles_path),name:'ds', :remote => true do %>
            <div id= "input_id">
            <div class="ui input">
              <%= autocomplete_field_tag :email, params[:email], autocomplete_user_email_users_path(:id_element => @article.id) , :class=>"some" , :update_elements => {}, :placeholder =>"Type user's name" %>
           </div>
         </div>
            <%= hidden_field_tag :user_id %>
           <%= hidden_field_tag :article_id, @article.id %>
            <%= hidden_field_tag :status, 'false' %>
            <div id="shared_with"> Shared with :</div>

            <div id="submit_tags">

            <%= submit_tag "Invite", :onclick => "w2popup.close()", class:"ui button" %>


            <button class="ui blue basic button" onclick="w2popup.close()" >Cancel</button>
          </div>


            <% end %>

        </div>
    </div>
    </div>
    </div>
    <% end %>










  </div>
</div>
</div>
</div>
</div>




<script type="text/javascript">
$(document).ready(function(){
  $('#cform').hide();
  $('.add_comment').click(function() {
                $('#cform').slideToggle("fast");
                $('.add_comment').hide();
                });
  $('#cancel_button').click(function() {
                $('#cform').slideToggle("fast");
                $('.add_comment').show();
                });
  $('#cform').insertBefore('.a');
$('#pop').click(function(){

$('#pop_body').w2popup();
$("#shared_with1").html("");
$('.some').bind('railsAutocomplete.select', function(event, data){
    /* Do something here */

       $('input#user_id').val(data.item.id);
      $('form[name=ds]').append('<input type="hidden" name="invites[invites_attributes]['+data.item.id+'][user_id]" , value='+data.item.id+' >');
      $('form[name=ds]').append('<input type="hidden" name="invites[invites_attributes]['+data.item.id+'][article_id]", value= <%= @article.id %> >');
      $('form[name=ds]').append('<input type="hidden" name="invites[invites_attributes]['+data.item.id+'][status]", value= false >');
      if ($('#shared_with1 > div:contains('+this.value+')').length == 0 && data.item.id) {
      $('form[name=ds]').append('<div id ="shared_with1">' + this.value + '</div>');
    }
      //$('form[name=ds]').append('<div id="shared_with1"></div>');
      $('input#email').val('');
    });
// overlay based on the same HTML
//if ($('#selected_val > div:contains('+this.value+')').length == 0) {
            //  $('#selected_val').append('<div class ="shared_item">' + this.value + '</div>');


});
$('#delete_p').click(function(){
$('#delete_post').w2popup();
});

})
/*$(document).ready(function(){
  $('#cinvite').hide();
  $('.invite').click(function() {
                $('#cinvite').slideToggle("fast");
                $('.invite').hide();
                });
  $('#icons').click(function() {
                $('#cinvite').slideToggle("fast");
                $('.invite').show();
                });
  $('#cinvite').insertBefore('.subpost_list');
})*/
</script>
