<!DOCTYPE html>
<html>
<head>
  <title>Forumblog</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js">


$(document).ready(function(){
    $("input[type=text]").change(function() {
           $(this).css("background","#c7c7c7");
    });
});
</script>
<script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script>


</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <%= Gon::Base.render_data({}) %>

</head>
<body>

  <div class="ui borderless main menu">
      <div class="ui text container">
        <div href="#" class="header item">
          <div id="logo_ico">

          </div>
        <h2><p><font color="white"><%= link_to 'Home', root_url, :class => 'header'%></font></p></h2>
        </div>
        <div class="item">
          <div class="ui input">
            <form action="<%= articles_path %>" data-remote="true" method="get" >
              <p><input type="text" name="tag" id="tag" class="ui-autocomplete-input" placeholder="search using tags" style="color: #6b588c !important;"></p>
              <%#= submit_tag "Search", :name => nil%>
            </form>
          </div>
        </div>

      <div class="item">
        <div id="new_post_button">
          <button class="ui button"><%= link_to 'New Post', new_article_path, :class => 'navbar-link' %></button>
        </div>
      </div>
      <div class = "item">
        <div id="dropdown">
        <div class="ui simple dropdown item">
          <div id="user_ico">

          </div>
            <div class="menu" id="dropdown_user">
              <div class="item"><%= link_to "Profile", current_user, :class => 'navbar-link3'  %></div>
              <div class="item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link3' %></div>
              <div class="item"><%= link_to "Logout", destroy_user_session_path, :class => 'navbar-link3'  %></div>
            </div>
          </div>
        </div>
        </div>
    <!--      <div class="item"><%= link_to 'Home', articles_path, :class => 'navbar-link' %></div>
        <% if user_signed_in? %>
          <div class="item"><%= link_to 'New Post', new_article_path, :class => 'navbar-link' %></div>
        <a href="#" class="item">Logged in as <strong> <%=  current_user.email %></strong></a>
          <div class="menu">
            <div class="right menu">
              <div class="item"><%= link_to "Profile", current_user, :class => 'navbar-link'  %></div>
            <div class="item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></div>
            <div class="item"><%= link_to "Logout", destroy_user_session_path, :class => 'navbar-link'  %></div>
              <% else %>
                <div class="item"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></div>
              <div class="item"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></div>

              <% end %>
            </div>
          </div>-->
      </div>
    </div>
  <% if user_signed_in? %>
  <!--<div class="search">

</div>
    <div class="ui one column center aligned grid ">
        <button class="small ui button">
          <i class="star yellow icon"></i><%= link_to "Favorites", favorite_articles_path, :class => 'navbar-link'  %>

        </button>

        <button class="small ui button">
          <i class="privacy icon"></i><%= link_to "Private", articles_path(type: 'private'), :class => 'navbar-link'  %>

        </button>


        <button class="small ui button">
          <i class="public icon"></i><%= link_to "Public", articles_path(type: 'public'), :class => 'navbar-link'  %>

        </button>


        <button class="small ui button">
        <i class="user icon"></i><%= link_to "My Posts", articles_path(type: 'my'), :class => 'navbar-link'  %>

        </button>

        <button class="small ui button">
        <i class="top icon"></i><%= link_to "Top", articles_path(type: 'top'), :class => 'navbar-link'  %>

        </button>

      </div>-->

<% end %>
  <p class="navbar-text pull-right" style="padding-bottom: 21px">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<h4 class= "ui red header">
  <p class="alert alert-danger"><%= alert %></p>
</h4>
<% end %>
<%= yield %>

</body>
</html>
